
<form [formGroup]="registrationForm" (ngSubmit)="createUserName()">

  <h1 style="text-align: center;">Redes Cloud</h1>
  <div class="question">
    <input formControlName="firstname" type="text" required maxlength="10"/>
    <label>Firstname</label>
  </div>

  <div class="question">
    <input formControlName="lastname" type="text" required maxlength="10"/>
    <label>Lastname</label>
  </div>

  <div class="question">
    <input formControlName="userName" type="text" required maxlength="12"/>
    <label>Username</label>
  </div>

  <div class="question">
    <input formControlName="password" type="password" required maxlength="15"/>
    <label>Password</label>
  </div>

  <button>
  Registrarse
  </button>
</form>
<br>

<button (click)="goToLogin()">
    Ya Tengo Cuenta
</button>